<!DOCTYPE html>
<html>
<head>
    <title>Dwitter - Aryan's </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Dwitter</h1>
        <p>Your tiny social network built with Django</p>
    </header>

    <main>
        <section class="profile">
            <h2> Aryan's 's Dweets</h2>
            <a href="#" class="button">All Profiles</a> 
            <div class="follow-info">
                <p>
                    <strong>Aryan's  follows:</strong>
                    
                         Martin
                </p>
                <p>
                    <strong>Aryan's  is followed by:</strong>
                    Martin
                </p>
            </div>
            <ul class="dweets">
                Dweets
                    <li class="dweet">
                        <p> Martin's </p>
                    </li>
            </ul>
        </section>
    </main>
</body>
</html>